
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }


header {
  text-align: justify;
  height: 8em;
  padding: 2em 5%;
  background: #2c3e50;
  color: #fff;
}

nav {
  padding: 2em 50%;
  font-size: 110%;
}
h1{
    font-size: 160%;
}


