
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }


header {
  text-align: center;
  height: 8em;
  padding: 2em 5%;
  background: #2c3e50;
  color: #fff;
}
a{
  color: white;
  font-size: 150%;
}
nav {
  text-align: center;
  padding: 2em;

}
h1{
    font-size: 160%;
}


