/* Footer */

#footer-wrapper {
  padding: 4em 0;
}

/* Copyright */

#copyright {
  text-align: center;
  color: #A6A88F;
  border-top: solid 1px #ced0b7;
  padding: 3em 0 0 0;
  margin: 3em 0 0 0;
}

#copyright a {
  color: #A6A88F;
}
