<footer>
  <div id="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-8 col-12-medium">
          <section>
           <div>
              <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                  <ul class="link-list">
                    <li><a href="https://netfinansov.online/rateusd">USD</a></li>
                  </ul>
                </div>
                <div class="col-3 col-6-medium col-12-small">
                  <ul class="link-list">
                    <li><a href="https://netfinansov.online/rateeur">EUR</a></li>
                  </ul>
                </div>
                <div class="col-3 col-6-medium col-12-small">
                  <ul class="link-list">
                    <li><a href="https://netfinansov.online/raterub">RUB</a></li>
                  </ul>
                </div>
                <div class="col-1 col-1-medium col-11-small">
                  <ul class="link-list">
                    <li><a href="https://netfinansov.online/ratefuel">Топливо</a></li>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

        </div>

      </div>
      <div class="row">
        <div class="col-12">

          <div id="copyright">
            &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
