.select {
  color: black; /* Цвет текста */
  font-weight: normal; /* Жирное начертание */
  font-size: medium;
}

.table {
  width: 50%; /* Ширина таблицы */
  border: 1px solid green; /* Рамка вокруг таблицы */
  margin: auto; /* Выравниваем таблицу по центру окна  */
}
